//============================================
// style gry
//============================================

.game-board-wraper {
	background-color: #bf008e;
	width: $game-board-width;
	height: $game-board-height;
	margin: auto auto;
	padding: 30px;
	border-radius: 30px;
	box-shadow: inset 0 -6px 8px rgba(darken(#ef00be,20%),0.4),
				inset 0 -6px 8px 2px rgba(darken(#000,20%),0.4),
				inset 0 3px 8px 1px rgba(darken(#000,20%),0.4);
}

.game-board {
	position: relative;
	width: $game-board-width;
	height: $game-board-height;
	background-color: #450062;
	margin: auto auto;
	padding: 1px;
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
}

.paddle {
	width: $paddle-width;
	height: $paddle-height;
	background-color: #5874fe;
	border-radius: $paddle-border-radius;
	position: absolute;
	z-index: 10;
	left: $paddle-left;
	bottom: $paddle-bottom;
	box-shadow: inset 0 -2px 5px rgba(darken(#5874fe,20%),0.4),
				inset 0 -2px 4px 2px rgba(darken(#000,20%),0.4),
				inset 0 1px 4px 1px rgba(darken(#000,20%),0.4);
}

.ball {
	width: $ball-width;
	height: $ball-height;
	background-color: black;
	border-radius: 100%;
	position: absolute;
	z-index: 20;
	left: $ball-left;
	bottom: $ball-bottom + 1;
	background: radial-gradient(circle at $ball-width/3 $ball-width/3, #5cabff, #000);
}

.brick {
	width: $brick-width;
	height: $brick-height;
	background-color: $brick-background-color;
	margin: 1px;
	border-radius: 4px;
	display: flex;
	@include brick-shadow();
}

@for $i from 1 through $brick-rows {
	.brick.row-#{$i} {
		$color: nth($brick-colors, $i);
		background-color: $color;
		@include brick-shadow($color, $brick-height);
	}
}

.message-box {
	display: table;
	position:absolute;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.3);
	z-index:100;
	text-align: center;
	font-size: 0;
	font-weight: bold;
	color: #fff;
	transition: all 1.5s;
	opacity: 0;	
	&.show {
		opacity: 1;
		font-size: 3rem;
		transition: all 1.5s;
	}
	.message {
		display: table-cell;
		vertical-align: middle;
	}
}
