//============================================
// style strony
//============================================

body {
	font-family: $font-family-base;
	font-size: $font-size-base;
	background-color: #45469e;
}